<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ShoppingTraditionz.DataAccessLayer.Properties.Settings.ShopTraditionzConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\ecom.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="ShoppingTraditionz.DataAccessLayer.Properties.Settings.ClientECOMConnectionString"
            connectionString="Data Source=|DataDirectory|\ECOM.sdf;Max Database Size=2047"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="ShoppingTraditionz.DataAccessLayer.Properties.Settings.ShopTConnectionString"
            connectionString="Data Source=KRISHNA;Initial Catalog=ecom;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>